body {
  background-color: dimgray;
  color: white;
}

h1 {
  color: lightsalmon;
  text-align: center;
}

h2 {
  color: lightskyblue;
  text-align: center;
}
h3 {
  color: lightgreen;
  padding-top: 20px;
}

table {
  border-style: groove;
}

a {
  color: cyan;
}
